.hide {
  opacity: 0;
}

.animateIn {
  animation: animateIn 0.5s ease-in-out;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(2%);
  }

  to {
    opacity: 100%;
    transform: translateX(0);
  }
}
