@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1, h2, h3, h4 {
    font-family: 'Roboto Mono';
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

.header-outer {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-background {
    backdrop-filter: blur(1rem);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.header-menu {
    display: flex;
    gap: 2rem;
}

.header-menu a {
    font-family: 'Roboto Mono';
    font-size: 1em;
}

.header-menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.header-menu a:hover::after {
    width: 100%;
}

/* .header-menu a:hover {
    border-bottom: 1px solid black;
} */

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.cards {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem 1rem;
}

.shortinfos {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
}

.works {
    padding: 5rem 4rem;
    background-color:white;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

hr { 
    margin-top: 0.5rem;
    display: block; 
    overflow: hidden; 
    border-style: inset; 
    border-width: 2px;
}


.card-item {
    width: 48%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
}

.hero {
    background-color:rgb(205, 234, 104);
    height: 80vh;
    padding: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scope-duration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parallax {
    /* The image used */
    /* background-image: url('/images/000022970032.jpg'); */
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.shortinfo-item {
    width: 160px;
  }

.img {
    /* The image used */
    background-image: url('/images/000022970032.jpg');
}

.height {
    height: 75vh;
    padding-top: 6rem;
}

.aboutus {
    width: 400px;
}

.margin-web {
    padding: 8rem 2rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.animate-border {
    transition: all .5s ease;
    overflow: hidden;
}

.animate-border:hover {
    border: 1px solid transparent;
    border-radius: 6rem;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
        font-weight: bold;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    .height {
        height: 40vh;
    }

    .hero {
        padding: 2rem;
    }

    .works {
        padding: 2rem;
    }

    .bar.active {
        background-color: white;
        transition: all 0.5s ease;
    }

    .header-outer {
        padding: 2rem;
    }

    .header-background {
        transition: all 0.5s ease;
    }

    .header-background.active {
        background-color: black;
        color: white;
    }

    .header-menu {
        /* display: none;
        transition: all 0.3s ease; */
        position: fixed;
        top: -100vh;
        left: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: all 0.5s ease;
        color: white;
        gap: 2rem 0;
        padding: 2rem;
        height: 100vh;
    }

    .header-menu.active {
        top: 6rem;
        /* position: fixed;
        left: 0;
        top: 6rem;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: all 0.3s ease; */

    }

    .hamburger {
        display: block;
    }
}